table.foa-event {
	width: 100%;
}

table.foa-event td.time {
	width: 8%;
	padding: 0;
}

table.foa-event td.info {
  width: 92%;
  padding: 0;
}

table.foa-event td {
	border-left:0;
}

table.foa-event tr, table.foa-event th {
	border: 0;
}

table.foa-event tbody tr:nth-child(2n+1) {
	background-color: transparent;
}

table.foa-event td.time .date {
	width: 90%;

  background-color: #dddddd;
  margin-right: 5px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

table.foa-event td.time .date .day {
	font-size: 16px;
  font-weight: bold;
}

table.foa-event td.time .date .month-year {
	background-color: #003366;
  color: white;
  display: block;
  font-size: 0.7em;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
}






/* Event listing filter submit button */
/* Explict css rule can find the element */
.views-exposed-form .views-exposed-widget .foa-event-listing-submit {
	margin-top: 2.2em !important;
}
